body{
background-color: black;
background-repeat: no-repeat;
background-image: url("../img/whisky-bg.jpg");
color: white;
font-family: 'Montserrat', sans-serif;
}
.btn {
    padding: .5rem;
    background: #FFB833;
    border: none;
    border-radius: 4px;
    margin: 4px;
}
